/* Common Elements */
body {
    font-size: 80%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #363636;
    background-image: url("img/pexels-fwstudio-163999.jpg");
    padding: 0;
    margin: 0;
    -webkit-backgorund-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
}
a, a:visited {
    color: grey;
}
a:hover {
    color: white;
}
/* Header */
header {
    background-color: lightblue;
    padding: 2em;
    text-align: right;
    height: 70px;
}
header h1 {
    font-size: 4em;
    margin: auto;
    padding: 0;
    color: grey;
}
header h3 {
    font-size: 2em;
    margin: 0;
    padding: 0;
}
/* Nav Bar */
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    margin:0;
}
.socialMedia {
    height: 30px;
    width: 30px;
    margin: auto;
    padding: 4px;
    position: relative;
    float: left;
    bottom: 32px;
    align-items: center;
}
/* Info Section */
section#info {
    background-color: lightslategray;
    color: white;
    float: right;
    position: relative;
    padding-left: 12px;
}
section#info ul {
    margin-right: 12px;
}
section#info h4 {
    font-style: bold;
    padding: 0;
    margin: 12px, 0 0 0;
}
section#info p {
    padding: 0;
    margin:0;
}
/* Wares */

/* Footer */