/* Common Elements */
body {
    font-size: 80%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #363636;
    background-image: url("img/pexels-fwstudio-163999.jpg");
    padding: 0;
    margin: 0;
    -webkit-backgorund-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
}
/* Header */
/* Nav Bar */
/* Info Section */
/* Wares */
/* Footer */